
$bgcolor: #fff;

$num-cols: 12;
$col-size: 100 / $num-cols;
$adjustment: 40%;

// palette
$primary: #24305e;
$primary-dark: darken($primary, $adjustment);
$primary-light: lighten($primary, $adjustment);

$secondary: #374785;
$secondary-dark: darken($secondary, $adjustment);
$secondary-light: lighten($secondary, $adjustment);

$danger: #d85050;
$secondary-dark: darken($secondary, $adjustment);
$secondary-light: lighten($secondary, $adjustment);

$warning: #f5da53;
$warning-dark: darken($warning, $adjustment);
$warning-light: lighten($warning, $adjustment);

$info: #418cb3;
$info-dark: darken($info, $adjustment);
$info-light: lighten($info, $adjustment);

$bg: #eee;
$bg-dark: darken($bg, $adjustment);
$bg-light: lighten($bg, $adjustment);

$text-color: #444;

$shadow: 2px 6px 6px rgba(0, 0, 0, 0.2), 0px 5px 5px rgba(255, 255, 255, 0.2);
$gradient: linear-gradient(135deg, $bg-light 0%, $bg 100%);

$terminal-bg: #3f3f3f;
$terminal-color: #ddd;

$output-bg: #d4e2f4;
$output-color: #2f5992;

